<div id='detalleNewProd' class='detalleProdForm newProductForm animate__animated animate__backInUp' style="display:none">
      
      <div class="form-group">
        <label class="blockquote-footer" for="title">Nombre</label>
        <input id='updateTitle' type="texto" name="title"  class="form-control" value=''>

        <label class="blockquote-footer" for="description">Descripción</label>
        <textarea  id='updateDescription' name="description" id="" cols="80" rows="3" placeholder="Descripción del producto" class="form-control"></textarea>

        <label class="blockquote-footer" for="price">Precio sin descuento</label>
        <input  id='updatePricePure' type="texto" name="price" placeholder="0" class="form-control" value=''>

        <label class="blockquote-footer" for="discount">Descuento %</label>
        <input  id='updateDiscountPercentage' type="texto" name="discount" placeholder="0" class="form-control" value=''>

        <label class="blockquote-footer" for="discount">Rating</label>
        <input  id='updateRating' type="texto" name="rating" placeholder="0" class="form-control" value=''>

        <label class="blockquote-footer" for="discount">Stock</label>
        <input  id='updateStock' type="texto" name="stock" placeholder="0" class="form-control" value=''>

        <label class="blockquote-footer" for="discount">Brand</label>
        <input  id='updateBrand' type="texto" name="brand" placeholder="" class="form-control" value=''>

        <label class="blockquote-footer" for="discount">Categoria</label>
        <input  id='updateCategory' type="texto" name="category" placeholder="" class="form-control" value=''>

        <label class="blockquote-footer" for="imagen">Imagen</label>
        <input  id='updateThumbnail' type="url" name="imagen" placeholder="" class="form-control" value=''>
      </div>

    <button class="btn btn-dark" value=`` id="updateProduct" onclick="newProductUpload()" mt-4"> <!-- Actualizar datos  btn-block-->
      <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-cloud-arrow-up" viewBox="0 0 16 16">
        <path fill-rule="evenodd" d="M7.646 5.146a.5.5 0 0 1 .708 0l2 2a.5.5 0 0 1-.708.708L8.5 6.707V10.5a.5.5 0 0 1-1 0V6.707L6.354 7.854a.5.5 0 1 1-.708-.708l2-2z"/>
        <path d="M4.406 3.342A5.53 5.53 0 0 1 8 2c2.69 0 4.923 2 5.166 4.579C14.758 6.804 16 8.137 16 9.773 16 11.569 14.502 13 12.687 13H3.781C1.708 13 0 11.366 0 9.318c0-1.763 1.266-3.223 2.942-3.593.143-.863.698-1.723 1.464-2.383zm.653.757c-.757.653-1.153 1.44-1.153 2.056v.448l-.445.049C2.064 6.805 1 7.952 1 9.318 1 10.785 2.23 12 3.781 12h8.906C13.98 12 15 10.988 15 9.773c0-1.216-1.02-2.228-2.313-2.228h-.5v-.5C12.188 4.825 10.328 3 8 3a4.53 4.53 0 0 0-2.941 1.1z"/>
      </svg>
   </button>
   <button class="btn btn-dark" id="updateProduct" onclick="newProductDisplay()"> <!-- Actualizar datos  btn-block-->
    <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-x-square" viewBox="0 0 16 16">
      <path d="M14 1a1 1 0 0 1 1 1v12a1 1 0 0 1-1 1H2a1 1 0 0 1-1-1V2a1 1 0 0 1 1-1h12zM2 0a2 2 0 0 0-2 2v12a2 2 0 0 0 2 2h12a2 2 0 0 0 2-2V2a2 2 0 0 0-2-2H2z"/>
      <path d="M4.646 4.646a.5.5 0 0 1 .708 0L8 7.293l2.646-2.647a.5.5 0 0 1 .708.708L8.707 8l2.647 2.646a.5.5 0 0 1-.708.708L8 8.707l-2.646 2.647a.5.5 0 0 1-.708-.708L7.293 8 4.646 5.354a.5.5 0 0 1 0-.708z"/>
    </svg>
 </button>

  </div>

