<%- layout('layouts/main.ejs') %>
<div class="container ">
  <div class="row ">
    <div class="container col-8">
      <%- include('tabla.ejs'); %>
    </div>
    <div class="col-sm-4">
      <div class="sticky-top">
        <div class="card">
          <h3>CHAT</h3>
          <p>Lorem ipsum dolor, sit amet consectetur adipisicing elit. Atque, autem est. Nobis ratione, illo neque rerum possimus maxime sed, impedit molestias harum laudantium error, tempora iste quaerat dolorum quia cumque.</p>
        </div>
      </div>
    </div>
  </div>
  
</div>