.body{
    background-color: aquamarine;
}
.loginContainer{
    /* box-shadow:
        2.5px 2.8px 2.2px rgba(0, 0, 0, 0.045),
        6.1px 6.7px 5.3px rgba(0, 0, 0, 0.069),
        11.5px 12.5px 10px rgba(0, 0, 0, 0.088),
        20.5px 22.3px 17.9px rgba(0, 0, 0, 0.103),
        38.4px 41.8px 33.4px rgba(0, 0, 0, 0.114),
        92px 100px 80px rgba(0, 0, 0, 0.12); */


    margin:80px;
}

.titulo{
    text-align: center;
    color: blue;
}

.titulo_carga{
    padding: 5px 2px;
}

.loginContainer{
    
    max-width: 50%;
}
.tarjetaSigin{
    max-width: 450px;
}
.imagen{
    width: 160px;
    height: 160px;
}

img{
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.btn-prods{
    margin: 3px 3px;
}

.blockquote-footer{
    font-size: .675em;
}

.filtroProductos{
    display: inline-block;
    margin: 0 10px;
}

.iti{
    width: 100%;
}
.embed-responsive .card-img-top {
    object-fit: cover;
}

.imagenPerfil{
    margin:auto;
    margin-bottom: 15px;
    max-width: 200px;
    height: auto;
}

.imgNav{
    width: 60px;
    height: auto;
    filter: drop-shadow(2px 2px 2px white);
}

.txtTienda{
    display: inline-block;
}

.btnCarro{
    border: 2px solid white;
}

.btnCarro:hover{
    background-color: white;
    color: black;
}

.separaNavbar{
    height: 100px;
    width: 100%;
}

.encabezadoCarro{
    color: #fff;
    background-color: #fa3f07;
    border-color: #454d55;
}

.dropdown-menu{
    z-index: 1000;
}
.btn-prods-del{
    background-color: #fa3f07;
}
.btn-prods-del:hover{
    border: 1px solid #454d55;
}

.cardChat{
    margin-top: 1.5rem;
    top: 100px;
}

.centroMensajes{
    padding: 10px;
}

.centroMsg{
    color: #fff;
    background-color: #343a40;
    border-color: #454d55;
    height: 50px;
    text-align: center;
    padding-top: 10px;
}

.btnChat{
    color: #fff;
    background-color: #343a40;
    border-color: #454d55;
}
.boxMensajes{
    background-color: #ebeef3;
    border-radius: 10px;
    padding: 6px;
    margin: 5px 0 0 0;
    border: solid 1px #454d55;
}

.mailMensaje{
    display: inline-block;
    font-style: italic;
    font-size: 12px;
    margin: 0 0 0 0;
}

.fechaMensaje{
    display: inline-block;
    width: 100%;
    text-align: right;
    font-size: 9px;
    margin: 0 0 0 0;
}

.txtMensaje{
    font-size: 12px;
    font-weight: bold;
    margin: 0 0 0 0;
}

.listadoMensajes{
    height: 60vh;
    overflow-y: scroll;
}

.listadoCategorias{
    height: 60vh;
    overflow-y: scroll;
}

.MensajesPropios{
    color: green;
    text-align: right;
    border-radius: 10px;
    padding: 6px;
}

.MensajesAjenos{
    border-radius: 10px;
    padding: 6px;
}

.detallePro{
    width: 100%;
}

.detalleProdForm{
    width: 100%;
    border: 1px solid #454d55;
    border-radius: 10px;
    padding: 10px;
}

.iimagenProducto{
    width: 200px;
    height: 100%;
    object-fit: cover;
}

.newProduct{
    display: none;
    border: 1px solid #454d55;
    border-radius: 10px;
    padding: 10px;
    margin: 0 0 10px 0;
}